<!DOCTYPE html>

<html lang="tr">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CarBook - Rent A Car </title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    @await Html.PartialAsync("Layout/Styles")
</head>
<body>
    @await Html.PartialAsync("Layout/Header")

    @RenderBody()

    @await Component.InvokeAsync("Footer")

    @await Html.PartialAsync("Layout/Scripts")
</body>
</html>
