@model CreateRegisterDto

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>CarBook - Kayıt Ol</title>

    <link rel="shortcut icon" href="/admin-master/assets/images/favicon.ico">

    <link href="/admin-master/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/admin-master/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <link href="/admin-master/assets/css/theme.min.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="d-flex align-items-center min-vh-100">
                        <div class="w-100 d-block bg-white shadow-lg rounded my-5">
                            <div class="row">
                                <div class="col-lg-5 d-none d-lg-block bg-register rounded-left"></div>
                                <div class="col-lg-7">
                                    <div class="p-5">
                                        <div class="text-center mb-5">
                                            <a href="#" class="text-dark font-size-22 font-family-secondary">
                                                <b>Kayıt Ol</b>
                                            </a>
                                        </div>
                                        <h1 class="h5 mb-1">Hesap Oluştur</h1>
                                        <p class="text-muted mb-4">Hesabınız yok mu? Kendi hesabınızı hemen oluşturun.</p>
                                        <form class="user" method="post">
                                            <div class="form-group row">
                                                <div class="col-sm-6 mb-3 mb-sm-0">
                                                    <input type="text" class="form-control form-control-user" asp-for="Name" placeholder="Adınız">
                                                </div>
                                                <div class="col-sm-6">
                                                    <input type="text" class="form-control form-control-user" asp-for="Surname" placeholder="Soyadınız">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <input type="email" class="form-control form-control-user" asp-for="Email" placeholder="Mail Adresiniz">
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-sm-6 mb-3 mb-sm-0">
                                                    <input type="text" class="form-control form-control-user" asp-for="Username" placeholder="Kullanıcı Adınız">
                                                </div>
                                                <div class="col-sm-6">
                                                    <input type="password" class="form-control form-control-user" asp-for="Password" placeholder="Şifreniz">
                                                </div>
                                            </div>
                                            <button class="btn btn-secondary btn-block waves-effect waves-light"> Hesap Oluştur </button>
                                            <div class="text-center mt-4">
                                            </div>
                                        </form>
                                        <div class="row mt-4">
                                            <div class="col-12 text-center">
                                                <p class="text-muted mb-0">Zaten bir hesabınız var mı ? <a asp-controller="Login" asp-action="Index" class="text-muted font-weight-medium ml-1"><b>Giriş Yap</b></a></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/admin-master/assets/js/jquery.min.js"></script>
    <script src="/admin-master/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/admin-master/assets/js/metismenu.min.js"></script>
    <script src="/admin-master/assets/js/waves.js"></script>
    <script src="/admin-master/assets/js/simplebar.min.js"></script>

    <script src="/admin-master/assets/js/theme.js"></script>
</body>
</html>
