@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@await Component.InvokeAsync("Banner")

<section class="ftco-section ftco-no-pt bg-light">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-md-12 featured-top">
                <div class="row no-gutters">
                    <div class="col-md-4 d-flex align-items-center">
                        <form method="post" class="request-form ftco-animate bg-primary">
                            <h2>Seyahatinizi Planlayın</h2>
                            <div class="form-group">
                                <label for="" class="label">Alış Noktası</label>
                                <select class="custom-select" asp-items="@ViewBag.Location" name="LocationID">
                                    <option value="0">Şehir, Havaalanı, Durak, vb.</option>
                                </select>
                            </div>
                            <div class="d-flex">
                                <div class="form-group mr-2">
                                    <label for="" class="label">Alış Tarihi</label>
                                    <input type="text" class="form-control" name="pickUp_date" id="book_pick_date" placeholder="Alış Tarihi Seçiniz">
                                </div>
                                <div class="form-group ml-2">
                                    <label for="" class="label">Teslim Tarihi</label>
                                    <input type="text" class="form-control" name="dropOff_date" id="book_off_date" placeholder="Teslim Tarihi Seçiniz">
                                </div>
                            </div>
                            <div class="d-flex">
                                <div class="form-group mr-2">
                                    <label for="" class="label">Alış Zamanı</label>
                                    <input type="text" class="form-control" name="pickUp_time" id="time_pick" placeholder="Alış Zamanı">
                                </div>
                                <div class="form-group ml-2">
                                    <label for="" class="label">Teslim Zamanı</label>
                                    <input type="text" class="form-control" name="dropOff_time" id="time_drop" placeholder="Teslim Zamanı">
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Şimdi Kirala" class="btn btn-secondary py-3 px-4">
                            </div>
                        </form>
                    </div>
                    <div class="col-md-8 d-flex align-items-center">
                        <div class="services-wrap rounded-right w-100">
                            <h3 class="heading-section mb-4">İdeal Arabanızı Kiralamanın En İyi Yolu</h3>
                            <div class="row d-flex mb-4">
                                <div class="col-md-4 d-flex align-self-stretch ftco-animate">
                                    <div class="services w-100 text-center">
                                        <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-route"></span></div>
                                        <div class="text w-100">
                                            <h3 class="heading mb-2">Alım Noktanızı Seçin</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 d-flex align-self-stretch ftco-animate">
                                    <div class="services w-100 text-center">
                                        <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-handshake"></span></div>
                                        <div class="text w-100">
                                            <h3 class="heading mb-2">En İyi Teklifi Seçin</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 d-flex align-self-stretch ftco-animate">
                                    <div class="services w-100 text-center">
                                        <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-rent"></span></div>
                                        <div class="text w-100">
                                            <h3 class="heading mb-2">Arabanızı Rezerve Edin</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <p><a href="#" class="btn btn-primary py-3 px-4">Rezervasyon Oluşturun</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@await Component.InvokeAsync("Testimonial")