@model CreateFooterDto

@{
    ViewData["Title"] = "CreateFooter";
    Layout = "~/Areas/Administrator/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0 font-size-18">Yeni Footer Oluştur</h4>
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Footer</a></li>
                    <li class="breadcrumb-item active">Yeni Footer Oluştur</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <form method="post">
                    <div class="row">
                        <div class="col-xl-6">
                            <div class="form-group">
                                <label for="txt-description">Açıklama</label>
                                <input class="form-control" id="txt-description" asp-for="Description" placeholder="Açıklama Giriniz" />
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="form-group">
                                <label for="txt-address">Adres</label>
                                <input class="form-control" id="txt-address" asp-for="Address" placeholder="Adres Giriniz" />
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="form-group">
                                <label for="txt-phone">Açıklama</label>
                                <input class="form-control" id="txt-phone" asp-for="Phone" placeholder="Telefon Giriniz" />
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="form-group">
                                <label for="txt-email">E-Posta</label>
                                <input class="form-control" id="txt-email" asp-for="Email" placeholder="E-Posta Adresi Giriniz" />
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary waves-effect waves-light">Yeni Footer Oluştur</button>
                </form>
            </div>
        </div>
    </div>
</div>

